<launch>
  <!-- virtual machine -->
  <node pkg="dt100_driver" type="dt100_virtual_machine" name="DT100_VM" output="screen">
  </node>

  <node pkg="dt100_driver" type="dt100_vm.bash" name="dt100_vm_node" output="screen">
    <param name="bridge_adapter" value="eno1" /> <!-- required -->
    <param name="headless" value="true" />
    <param name="add_network_interface" value="true" />
  </node>

  <!-- relay -->
  <node pkg="dt100_driver" type="dt100_relay" name="DT100" output="screen">
  </node>

</launch>
